body {
  background: pink;
}

h1 {
  color: blue;
  font-size: 3em; 
}

h2 {
  color: green;
  font-weight: normal;
  font-style: italic;
}

.completed {
<<<<<<< HEAD
    font-size: 12px;
=======
    font-family: "Times New Roman", Times, serif;
>>>>>>> 4d631780465e4836c682630e8e3adaabdad17d84
}

#tasks .completed {
  background: #ccc;
  text-decoration: underline;
}